.listItem {
    display: flex;
    justify-content: space-between;
  }
  
  .listItem:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .btn {
    cursor: pointer;
    background-color: var(--main-color);
    line-height: 1.62;
    border: transparent;
    border-radius: 5px;
    color: var(--second-color);
    border: 1px solid var(--main-color);
  }
  
  .btn:hover,
  .btn:focus {
    color: var(--main-color);
    background-color: var(--second-color);
  }