.userMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
  
.userEmail {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
}

@media screen and (max-width: 767px) {
    .userEmail {
    display: none;
    }
}
  
.link {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 15px 10px 15px;
    color: var(--second-color);
    border: 0;
    border-radius: 8px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.link:hover,
.link:focus {
    color: var(--main-color);
    background-color: var(--second-color);
}